
.hero_heading{
    left: 55%;
}
.slider-dots{
    right:-4rem;
    top: 50%;
    transform: translateY(-50%);
}
.slider-dots button{
    font-size: 0;
    width: 5px;
    height: 5px;
    background: #d8d8d8;
    border-radius: 50%;
    outline: none;
}
.slider-dots li.slick-active button{
    background:#FE7865;
    width:12px;
    height:12px;
}
.slider-dots ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upto{
    position: relative;
}
.upto:after{
    content: '';
    position: absolute;
    left: 0;
    bottom:-1rem;
    height: 4px;
    width: 80%;
    background:#FE7865;
}
.sub-menu{
    max-height: 0;
    overflow: hidden;
}

.menu-trigger.is-open{
    color: #FE7865;
}
.menu-trigger.is-open + .sub-menu{
    max-height: 100%;
    overflow: visible;
}

.box-1 {
    position:relative;
    height:28rem;
}
.box-1 img{
    position:absolute;
    top:-5rem;
}

.box-4{
    position: relative;
    height:22rem;
    margin-top:18rem;
}
.box-4 img{
    position:absolute;
    top:-14rem;
    left:15%;
}
.box-5{
    position:relative;
    height:16rem;
    width:100%;
    margin-bottom:12rem;
}
.box-5 img{
    position: absolute;
    bottom:-8rem;
}

.agree__checkbox + label{
    display:block;
    width:24px;
    height:24px;
    background:#fff;
    position:relative;
    cursor: pointer;
    border-radius: 50%;
}
.agree__checkbox + label:before{
    content:'';
    display:block;
    width:8px;
    height: 8px;
    position:absolute;
    top:50%;
    left:50%;
    background:#fff;
    border-radius: 50%;
    transform:translate(-50%, -50%);
}
.agree__checkbox:checked + label:before{
    background:#FE7865;
}